<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 bg-body-secondary">
      <div class="row p-2 g-3">
        <!-- Card -->
        @for (item of items; track $index) {
          <div class="col-4">
            <div class="card">
              <img [src]="item.img" class="card-img-top" style="height: 200px; object-fit: contain"/>
              <div class="card-body d-flex flex-column gap-3">

                <h5 class="card-title" [innerText]="item.productName"></h5>
                <span>Price: {{ item.price.toFixed(2) }}$</span>
                <span>Discount: {{ item.dis }}%</span>
                <button class="btn-cart" (click)="btnCart(item)">Add to Cart</button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="col-lg-4 bg-danger-subtle">
      <div class="row-ticket bg-danger">
        <div class="col-12">Ticket Search</div>
        @for (item of items; track item.id) {
          <img [src]="item.img" alt="">
        }
      </div>
    </div>
  </div>
</div>
